body {
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Tekstkleur aanpassen aan de achtergrondafbeelding */
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2em;
    position: center;
}

p {
    font-size: 1em;
    position: center;
}

